<header class="header-6">
<div class="branding">
	<a class="nav-link" href="">
		<clr-icon shape="vm-bug"></clr-icon>
		<span class="title">Restaurants Apio App</span>
	</a>
</div>
<div class="header-actions" *ngIf="userLogged">
	<clr-dropdown>
		<button class="nav-text" clrDropdownTrigger>
			{{userLogged}}
			<clr-icon shape="caret down"></clr-icon>
		</button>
		<clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
			<a (click)="logout()" clrDropdownItem>Log out</a>
		</clr-dropdown-menu>
	</clr-dropdown>
</div>
</header>