/* AppComponent's private CSS styles */
h1 {
color: #999;
font-size: 1.2em;
margin-bottom: 0;
}
h2 {
font-size: 2em;
margin-top: 0;
padding-top: 0;
}
nav a {
background-color: #EEE;
border-radius: 4px;
display: inline-block;
margin-top: 10px;
padding: 5px 10px;
text-decoration: none;
}
nav a:visited, a:link {
color: #607D8B;
}
nav a:hover {
background-color: #CFD8DC;
color: #039BE5;
}
nav a.active {
color: #039BE5;
}